:root {
  /*Основний колір*/
  --c-dark: #212121;
  --c-blue: #2196f3;
  --c-black: #000000;
  --c-gray: #757575;
  --c-white: #ffffff;
  /*Фон*/
  --bg-white: #ffffff;
  --bg-c-dark-grey: #2f303a;
  --bg-c-blue-white: #188ce8;
  --bg-c-light-gray: #f5f4fa;
  --bg-c-white: #ffffff;
  --bg-c-blue: #2196f3;
  /*Колір рамок*/
  --brd-c-gray: #eeeeee;
  --brd-c-light-gray: #ececec;
  --tr-opac-cub-bez: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* img{
  display:block;
  max-width: 100%;
  height: auto;
} */

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: auto;
  background: var(--bg-white);
  color: var(--c-dark);
  box-sizing: border-box;
}

header {
  position: sticky;
  background: var(--bg-white);
  border: 1px solid var(--brd-c-light-gray);
}
.section {
  padding: 94px 0;
}
.section-content {
  padding: 94px 0 0 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 50px;
  padding-inline: 93px 0;
  align-items: center;
}

.nav-list li:nth-of-type(4) {
  margin-left: 344px;
}

.nav-list li:nth-of-type(5) {
  margin-left: 50px;
}

.link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  bottom: -1px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--c-dark);
}
.link-current,
.link:hover,
.link:focus {
  display: block;
  color: var(--c-blue);
    transition: var(--tr-opac-cub-bez);
}

.link-current::after,
.link:hover::after,
.link:focus::after{
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  margin-top: 28px;
  background: #2196f3;
  border-radius: 2px;
}

li {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--c-blue);
  font-weight: 700;
}

.logo-col {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: var(--c-black);
  font-weight: 700;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.contacts {
  color: var(--c-gray);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.mail {
  display: flex;
  align-items: center;
}
.social-mail {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-tel {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.social-tel {
  margin-right: 10px;
  fill: currentColor;
}
.contacts-list {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  align-items: center;
}

.contacts:visited {
  color: inherit;
}

.contacts:hover,
.contacts:focus {
  color: var(--c-blue);
    transition: var(--tr-opac-cub-bez);
}

/*Main content*/
.hero {
  display: contents;
}
.first-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-image: url(../images/icons.svg/bgst.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  color: var(--bg-white);
  padding: 200px 0;
}

.blocktext {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--c-white);
}

.order-btn {
  height: 50px;
  width: 216px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--c-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: var(--bg-white);
  border: none;
  cursor: pointer;
}
.order-btn:hover,
.order-btn:focus {
  background-color: var(--bg-c-blue-white);
  transition: var(--tr-opac-cub-bez);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 700;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--bg-c-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.form-title {
      margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.user-name {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-box {
  width: 100%;
  max-height: 40px;
}
.coment {
  max-width: 100%;
  max-height: 96px;
}

.features-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.feature {
  width: 270px;
}
.images-benefits {
  margin-bottom: 30px;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.benefits {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--c-dark);
  margin-bottom: 10px;
}

.text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--c-gray);
}

.large-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--c-dark);
  margin: 0 0 50px 0;
}
.work-photo {
  display: flex;
}
.specialty-img {
  display: block;
}
.specialty {
  position: relative;
  margin-right: 30px;
}
.specialty-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding: 27px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
.team {
  background-color: var(--bg-c-light-gray);
  display: flex;
  flex-direction: column;
}

.photo {
  width: 270px;
  height: 260px;
}

.cards-set {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  width: 270px;
  background: var(--bg-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-icons-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--c-white);
  fill: #afb1b8;
}
.social-link:hover,
.social-link:focus {
  fill: var(--c-white);
  background-color: var(--bg-c-blue);
    transition: var(--tr-opac-cub-bez);
}

.card-heros {
  padding: 30px 32px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--c-dark);
  margin-bottom: 10px;
}

.position {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--c-gray);
  margin-bottom: 16px;
}
.regular-customers {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  height: 92px;
  width: 170px;
  border-radius: 4px;
  color: #afb1b8;
  background-color: transparent;
}
.client-link:hover,
.client-link:focus {
  color: var(--c-blue);
  border-color: var(--bg-c-blue);
  transition: var(--tr-opac-cub-bez);
}
.icon-group {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: var(--bg-c-dark-grey);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  color: var(--bg-white);
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.footer-item {
  font-style: normal;
  font-weight: 400;
  color: var(--bg-white);
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.footer-item:hover,
.footer-item:focus {
  color: var(--c-blue);
    transition: var(--tr-opac-cub-bez);
}
.footer-icons-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--c-white);
}
.footer-social-link:hover,
.footer-social-link:focus {
  fill: var(--c-white);
  background-color: var(--bg-c-blue);
    transition: var(--tr-opac-cub-bez);
}

address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.7;
  vertical-align: Top;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--c-blue);
    transition: var(--tr-opac-cub-bez);
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-social {
  display: flex;
  justify-content: flex-start;
  gap: 70px;
}

/*Portfolio*/
.main {
  background-color: var(--bg-c-white);
}

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-item {
  font-size: 16px;
  line-height: 1.6;
  vertical-align: Top;
  padding-bottom: 50px;
  margin-right: 8px;
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--bg-c-light-gray);
  cursor: pointer;
  border: 0ch;
  padding: 6px 22px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--bg-c-blue);
  color: var(--c-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
      transition: var(--tr-opac-cub-bez);
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.item {
  display: block;
}
.item:hover .portfolio-text {
  transform: translateY(0);
}
.portfolio-list {
  background: var(--bg-white);
}
.portfolio-list:hover,
.portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: var(--tr-opac-cub-bez);
}
.portfolio-images-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--c-white);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.images {
  display: block;
}

.item {
  text-decoration: none;
}
.filling {
  padding: 20px 24px;
  border: 1px solid var(--brd-c-gray);
}

.name-services {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--c-dark);
}

.services {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--c-gray);
}
